*{padding: 0;
margin: 0;
box-sizing: border-box;}
header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
    height: 80px;
}
.container {
    height: 100%;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;

}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
    font-weight: 600;
}

p {
    color: rgb(95,95,95);
    line-height: 170%;
}

h1 {
    font-size: 38.5px;
    margin-bottom: 24px;
}
    
h2 {
    font-size: 32px;
    margin-bottom: 8px;
}

section {
    padding-top: 64px;
    padding-bottom: 64px;
}


nav ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
}
#logo {
    font-size: 25.378px;
    color: black;
    text-decoration: none;
}

.navlink {
    color: rgb(63, 62, 62);
    text-decoration: none;
}

#section1img{
    width: 50%;
    border-radius: 8px;
}
#section1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.button {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    border-radius: 8px;



}

.primarybutton {
    background-color: black;
    color: white;
    
}

.secondarybutton {
color: black;
border: 1px solid black;
}

.buttonHolder {
    margin-top: 32px;
}

#section2{
    background-color: rgb(230, 228, 228)
}
#achievmentlist {
    list-style: none;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.achievment {
    background-color: white;
    padding: 24px;
    border: 1px solid black;
}

